<%- include("../partials/header.ejs") %>

<div class="row">
	<div class="col-md-4">
		<h1><em>username:</em><%=user.username%></h1>
		
	</div>
	<div class="col-md-4">
		<h2>
			followers
		</h2>
		<% user.followers.forEach(function(follower){ %>
			<li><%= follower.username %></li>
		<% }) %>
	</div>
    <div class="col-md-4">
		
		<ul>
			user all post 
			<% campgrounds.forEach(function(campground){ %>
			<li><a href="/campgrounds/<%=campground._id%>""><%= campground.name %></a></li>
			 
		    <% }) %>
		</ul>
		
		
	</div>	
	
	
</div>




<%- include("../partials/footer.ejs") %>
